html, body{
    background: #f8f8f8;
    max-width: 600px;
    width: 100%;
    height: auto;
    position: relative;
    overflow-x: hidden;
}


/* 头部图片样式 */
header{
    height: 300px;
    width: 100%;
    background-image: url("../images/header.jpg");
    background-size: contain;
    /*background-position: top;*/
    background-attachment: fixed;
    background-repeat: repeat-y;
}

@media screen and (min-width: 600px) {
    header {
        background-size: 600px;
        background-position: left top;
        background-repeat: no-repeat;
    }
}

#search-div{
    margin-bottom: 20px;
}
main{
    padding-bottom: 80px;
    box-shadow: 0px -5px 3px 0px rgba(0, 0, 0, 0.3);
}
.am-input-group{
    box-shadow: 0px -5px 3px 0px rgba(0, 0, 0, 0.3);
}

/* 头部样式结束 */


/* 底部样式 */
#toolbar{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    max-width: 600px;
    z-index: 999;
}

#toolbar a{
    font-size: 14px;
}
#toolbar i{
    font-size: 18px;
}

/* 卡片样式 */
.card{
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.28);
    box-shadow: 0 1px 1px rgba(0,0,0,.28);
    max-width: 400px;
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.card-img-tag img{
    max-width: 400px;
    width: 100%;
    height: auto;
}

.card-btn-group i{
    margin-right: 10px;
}

body > main > div > div.card-img figure{
    margin: 0 !important;
}

.card-img{
    position: relative;
}
.card-img-hot{
    margin: 0 !important;
}
.card-img-info{
    position: absolute;
    background: rgba(0, 0, 0, 0.55);
    font-size: 12px;
    color: #fff;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    height: 19px;
}

.card-img-info div{
    border-right: 1px solid #eee;
}
.card-img-info div p{
    margin: 0 !important;
}

.card-img-hot i, .card-img-beauty i{
    margin-right: 4px;
}

.card-name{
    margin: 10px;
    font-size: 20px;
    font-family: sans-serif;
    clear: both;
}

.card-say{
    margin: 10px;
    text-indent: 2em;
}

.tags{
    float: right;
    margin: 0 !important;
    display: inline-flex;
}

.am-btn-junxun{
    color: #fff;
    background-color: #518379;
    border-color: #ffffff;
}

#homepage > div > div.card-img figure{
    margin: 0 !important;
}

.votes{
    font-size: 18px;
    color: #777;
    font-style: italic;
}

/* 卡片样式结束 */



/* 图片上传 */

#upload{
    padding: 20px;

}

#main-photo-box, #second-photo-box-1,#second-photo-box-2,#second-photo-box-3 {
    text-align: center;
    border: 2px dashed #00BCD4;
    /*height: 120px;*/
    cursor: pointer;
}

#second-photo-box-1,#second-photo-box-2,#second-photo-box-3 {
    border: 2px dashed #8BC34A;
    cursor: pointer;
    overflow: hidden;
}

#clearSecondPicture{
    width: 100%;
}


#say-something{
    margin-top: 20px;
}

#submit{
    display: block;
    margin: 0 auto;
    width: 100%;
}

#picture-preview, #picture-preview img, #picture-preview-box{
    height: 100%;
}
#analysis-div{
    background: rgba(0, 0, 0, 0.5);
}
#picture-preview-box p{
    margin: 0;
    text-shadow: 2px 2px 2px #607D8B;
    text-align: left;
    color: #fff;
}

.preview-box{
    height: 100%;
}

.hint{
    font-size: 12px;
    color: #777;
}

#detectFace{
    width: 100%;
}
#picture-preview1, #picture-preview2, #picture-preview3{
    width: 100%;
}

#word-count{
    float: right;
    font-size: 14px;
    color: #777;
}

#second-photo-box i{
    color: #8ac24a;
    font-size: 30px;
}
/* 图片上传结束 */