html, body{
    background: #f8f8f8;
}
.card{
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.28);
    box-shadow: 0 1px 1px rgba(0,0,0,.28);
    max-width: 400px;
    width: 90%;
    height: auto;
    margin: 0 auto;
}
.card .card-img img{
    max-width: 400px;
    width: 100%;
    height: auto;
}

.card-btn-group i, .card-img-hot i{
    margin-right: 10px;
}

.card-img{
    position: relative;
}
.card-img-hot{
    margin: 0 !important;
}
.card-img-hot{
    position: absolute;
    background: rgba(0, 0, 0, 0.55);
    bottom: 0;
    right: 0;
    color: #fff;
    font-size: 14px;
    padding: 2px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 8px;
}

.card-name{
    margin: 10px;
    font-size: 20px;
    font-family: sans-serif;
}

.card-say{
    margin: 10px;
    text-indent: 2em;
}